/PC_code/
.netadata
RemoteSystemsTempFiles
.analytics
*.log
*.tcl
export
hw
logs
resources
tempdsa
.cproject
/export/
*.o
*.d
*.project
*.spr
/Debug/
/Release/
/Emulation-SW/
/Emulation-HW/
/CRC16_system/
/MB_wrapper/
*.xpr
*.xsa
/MicroBlaze.cache/
/MicroBlaze.gen/
/MicroBlaze.hw/
/MicroBlaze.ip_user_files/
/MicroBlaze.runs/
